@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

/* Constants */ 

:root {
    --cell-size : calc(90vh / 20) ;
    --color-I : #739ee9 ;
    --color-J : #0341AE ;
    --color-S : #72CB3B ;
    --color-O: #FFD500 ;
    --color-L: #FF971C;
    --color-Z: #FF3213;
    --color-T: #ae18cc ;
}

/* Block element */

* {
    padding: 0 ;
    margin: 0 ;
    box-sizing: border-box ;
    font-family: 'Press Start 2P', cursive;
    font-size: 15px;
}

body {
    display: flex ;
    justify-content: center;
    color: white ;

    background-image: url("./Image/background.png");
    background-position: center;
    background-size: cover;

    max-height: 100vh ;
}

#grid {
    height: calc(20*var(--cell-size)) ;
    width: calc(10 * var(--cell-size));
    background-color: black;
    display: grid;
    grid-template-columns: repeat(10, var(--cell-size));
    grid-template-rows: repeat(20, var(--cell-size));
    position: relative ;
    margin: 2vh; 
}

#aside {
    min-width: 328px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
    margin: 2vh; 

}

#next-hold {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100% ;
}

.container {
    background-color: black;
    margin-bottom: var(--cell-size);
    padding: var(--cell-size);
    position: relative;
    border: 3px solid white;
    width: 100%
}

.container > .title {
    position:absolute ; 
    top: -3px ;
    left: 20px;
    z-index: 1;
    padding: 5px ;
    background-color: black ;
}

.container > div {
    padding-bottom: 5px;
}

.score {
    width: 100% ;
}

.aside-tetro {
    height: calc(4*var(--cell-size));
    width: calc(3 * var(--cell-size));
    display: grid;
    grid-template-columns: repeat(3, var(--cell-size));
    grid-template-rows: repeat(4, var(--cell-size));
}

#hold, #next {
    display: flex;
    align-items: center;
    justify-content: center;
}

.score div {
    margin: 10px 0;
} 

#simplified-score {
    display: none;
}

#simplified-score div {
    display: flex;
    justify-content: center;
}

@media (max-width: 738px) {

    :root {
        --cell-size : calc(80vh / 20) ;
    }

    #complete-score {
        display: none;
    }

    #simplified-score {
        display: flex;
    }

    .container {
        margin-bottom: 0 ;
        padding: 0 ;
        padding-top : calc(0.5*var(--cell-size)) ;
    }

    .container > div {
        padding-bottom: 0px;
    }

    body {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    #aside {
        min-width: calc(10*var(--cell-size)) ;
        margin: 0 ;
        height: 20vh ;
    }

    .aside-tetro {
        height: calc(2* var(--cell-size));
        width: calc(1.5* var(--cell-size));
        display: grid;
        grid-template-columns: calc(0.5*var(--cell-size));
        grid-template-rows: calc(0.5*var(--cell-size));
    }

    #grid {
        margin: 0 ;
    }

    #next-hold {
        height: 100%
    }
}

#score-page-message > table {
    width: 100% ;
    height: 100% ;
}



#game-over-div {
    position: absolute ;
    height: 100%;
    width: 100%;
    background-color: transparent;
    z-index: 1;

    display: flex ;
    justify-content: center;
    align-items: center;
}

#game-over-div input {
    width: 70%;
    height: 40px;
    background-color: black;
    color: white;
    padding: 10px;
    margin-top: 5px;
    border: none;
    border-bottom: 3px solid white;
    resize: none;
    outline: none;
}

#home-page, #commands {
    position: absolute ;
    height: calc(20*var(--cell-size)) ;
    width: calc(10 * var(--cell-size));
    background-color: transparent;
    z-index: 1
}

#home-page-message, #commands-messages {
    height: 100% ;
    width: 100% ;

    color: white ;

    display: flex ;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#score-page {
    position: absolute ;
    height: calc(20*var(--cell-size)) ;
    width: calc(10 * var(--cell-size));
    background-color: rgba(0, 0, 0, 0.70);
    z-index: 2
}

#score-page-message {
    height: 100% ;
    width: 100% ;

    color: white ;

    display: flex ;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#home-page-message  > h1{
    font-size: 2rem;
    font-style: italic;
    text-align: center;
}

#home-page-message  > span{
    text-align: center;
}


#game-over-message {
    text-align: center ;
}

.is-not-visible {
    display:none ;
}

#best-score, #simplified-best-score {
    display: flex;
    justify-content: center;
    padding: calc(0.5*var(--cell-size)) ;
    cursor: pointer;
}

#simplified-best-score {
    font-size: 0.5rem ;
    max-width: 50% ;
    text-align: center;
}

/* #simplified-best-score {
    display: flex;
    justify-content: center;
    padding: calc(0.5*var(--cell-size)) 0 ;
    cursor: pointer;
} */



/* Playing grid and tetromnios class definition */

.column-1 {
    grid-column: 1 ;
}

.column-2 {
    grid-column: 2;
}

.column-3 {
    grid-column: 3;
}

.column-4 {
    grid-column: 4;
}

.column-5 {
    grid-column: 5;
}

.column-6 {
    grid-column: 6;
}

.column-7 {
    grid-column: 7;
}

.column-8 {
    grid-column: 8;
}

.column-9 {
    grid-column: 9;
}

.column-10 {
    grid-column: 10 ;
}


.tetro {
    background-image: url("Image/pixel-block.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.tetro-I {
    background-color: var(--color-I);
}

.tetro-J {
    background-color: var(--color-J);
}

.tetro-L {
    background-color: var(--color-L);
}

.tetro-O {
    background-color: var(--color-O);
}

.tetro-S {
    background-color: var(--color-S);
}

.tetro-T {
    background-color: var(--color-T);
}

.tetro-Z {
    background-color: var(--color-Z);
}


/* Animations */

@keyframes flash {
    0%   { opacity:1; }
    50%   {opacity:0.2; }
    100% { opacity:1; }
  }

.press {
    animation: flash 2s infinite cubic-bezier(0.51, 0.18, 0.49, 0.88);
}

.destruct {
    background-color:white ;
    background-image:none ;
    animation: flash 0.1s infinite cubic-bezier(0.51, 0.18, 0.49, 0.88);
}